:root { 
--black_900_b2:#000000b2; 
--light_blue_300:#59c3ff; 
--blue_A400:#1877f2; 
--light_green_A700:#72cd00; 
--green_A700_01:#009e35; 
--deep_orange_100_01:#ffc0c0; 
--gray_800_02:#454545; 
--gray_800_01:#3f3f3f; 
--deep_purple_A100_01:#b65aff; 
--green_A100:#c3ffbe; 
--black_900_01:#0c0c0c; 
--yellow_800:#e1a325; 
--teal_900:#00224a; 
--black_900_07:#080808; 
--blue_gray_900_01:#333333; 
--black_900_06:#0f0f0f; 
--blue_gray_900:#35363a; 
--black_900_03:#000000; 
--black_900_02:#0d0d0d; 
--cyan_A700:#00b6de; 
--light_blue_100_eb:#aeddffeb; 
--black_900_05:#00000005; 
--deep_orange_100:#ffbebe; 
--red_A200_01:#ff5959; 
--black_900_04:#0e0e0e; 
--gray_400:#bdc1c6; 
--blue_900:#054fa6; 
--blue_gray_100:#cdcdcd; 
--gray_800_19:#3d3d3d19; 
--gray_800:#494949; 
--gray_400_3f:#bfbfbf3f; 
--blue_500:#308fff; 
--orange_600:#e69800; 
--black_900_11:#00000011; 
--gray_700_02:#595959; 
--gray_700_01:#5e5e5e; 
--white_A700_d4:#ffffffd4; 
--gray_900_33:#1c1c1c33; 
--blue_gray_100_01:#d9d9d9; 
--green_600:#3eaf3f; 
--green_A200:#47ff85; 
--light_green_500:#73e657; 
--gray_500_87:#9c9c9c87; 
--gray_500_01:#919191; 
--purple_A700:#8e00ff; 
--gray_500_03:#929292; 
--black_900_33_01:#0e0e0e33; 
--gray_500_02:#9c9c9c; 
--deep_purple_A100:#b659ff; 
--gray_500:#9e9e9e; 
--gray_900:#202124; 
--cyan_100:#befbff; 
--purple_100:#e2beff; 
--red_600:#e14942; 
--gray_900_54:#1f1f1f54; 
--green_900:#006d0a; 
--black_900_3f:#0000003f; 
--green_A700:#27ca40; 
--green_A100_01:#c2ffd7; 
--red_A700:#ff0000; 
--gray_600:#6f6f6f; 
--red_A200:#ff6058; 
--gray_200:#eaeaea; 
--gray_700_3f:#6060603f; 
--black_900_54:#0d0d0d54; 
--light_green_A700_01:#2cdd00; 
--blue_gray_400_02:#8d8d8d; 
--blue_gray_400_01:#898989; 
--white_A700:#ffffff; 
--red_500:#ff3939; 
--deep_purple_100:#d6c2ff; 
--amber_A400:#efc800; 
--green_400:#5cff59; 
--green_A400:#1add8b; 
--black_900:#070707; 
--yellow_700:#ffc130; 
--gray_900_02:#232323; 
--gray_700:#5f6368; 
--deep_purple_A100_e0:#a281ffe0; 
--gray_900_03:#141414; 
--gray_900_04:#111111; 
--lime_400:#badd58; 
--gray_600_01:#7f7f7f; 
--gray_900_05:#171717; 
--blue_gray_400:#86888a; 
--red_A100:#ff8787; 
--gray_900_01:#1e1e1e; 
--gray_900_06:#1c1c1c; 
--gray_300:#dadce0; 
--orange_300:#e6b557; 
--gray_900_07:#1b1b1b; 
--gray_300_01:#dbdbdb; 
--gray_900_08:#161616; 
--teal_A400:#39ff88; 
--gray_900_09:#1f1f1f; 
--cyan_300:#57cce6; 
--orange_50:#fef4e4; 
--black_900_33:#00000033; 
}